/.idea/
*.log
/utl.db
/bin/
/res/server/res.go
/res/agent/res.go
/rasa/test/models/*.gz
/rasa/test/res/*.dat
/rasa/temp/
/rasa/spacy/models/*.gz
/rasa/spacy/res/*.gz
/log/
/res/server/*.yml
/res/server/*.conf
/res/server/*.go
access.log
/project/*/models/
/project/*/models_*/
/project/*/nohup.*
/project/*/*.log
